.navBar {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 99;
}

.navBarList {
  display: flex;
  list-style-type: none;
}

.navBarList li {
  color: #ffffff;
  margin-top: 32px;
  margin-left: 31px;
  margin-right: 31px;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-underline-offset: 8px;
}

#logo {
  margin-top: 34px;
  margin-left: 66.43px;
  margin-right: 66.43px;
  font-weight: 700;
  font-size: 17px;
}

.active {
  text-decoration: underline;
}
