.searchBar {
  width: 856px;
  background-color: white;
  margin-bottom: 24px;
  padding: 24px;
}

.searchBar input {
  width: 596px;
  padding: 12px;
  font-family: "inter";
  font-size: 16px;
  line-height: 16px;
  outline: none;
}

.searchBar button {
  width: 188px;
  margin-left: 24px;
}
