.sectionTitle {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 18px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.5px;
  color: #0b0b0b;
  font-weight: 500;
  font-family: "Inter";
  text-transform: uppercase;
}

.discover header {
  min-height: 688px;
  background-image: url("./discover.png");
  margin: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 624px,
    82.1022727273% 624px,
    82.1022727273% 100%,
    17.8977272727% 100%,
    17.8977272727% 624px,
    0 624px
  );
  margin-bottom: 56px;
}

.blockQuote {
  position: absolute;
  color: white;
  top: calc(226 / 688 * 100%);
  left: calc(164 / 1408 * 100%);
  z-index: 99;
  max-width: 650px;
  margin-right: 60px;
}

.blockQuote p {
  max-width: 784px;
  margin-bottom: 32px;
  font-size: 56px;
  line-height: 64px;
  font-family: "Lora";
  font-weight: 400;
  font-feature-settings: "pnum" on, "lnum" on, "ss05" on, "ss06" on, "ss02" on;
}

.discover cite {
  font-style: normal;
  font-family: "Inter";
  font-weight: 12px;
  line-height: 16px;
  letter-spacing: 2%;
}

.citeDescription {
  color: #cccccc;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  margin-left: 3px;
  border: 1.5px solid #ffffff;
  display: inline-block;
}

/* ------- Photographers Section ------- */

.photographers {
  display: flex;
  flex-direction: column;
  margin: 0 68px;
  justify-content: center;
}

.photographersRow {
  margin: 40.5px 0;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* ------- Photo's Section ------- */
