.sectionTitle {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 18px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.5px;
  color: #0b0b0b;
  font-weight: 500;
  font-family: "Inter";
  text-transform: uppercase;
}

.discover header {
  min-height: 688px;

  background-image: url("./discover.png");
  margin: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 624px,
    82.1022727273% 624px,
    82.1022727273% 100%,
    17.8977272727% 100%,
    17.8977272727% 624px,
    0 624px
  );
  margin-bottom: 56px;
}

.blockQuote {
  position: absolute;
  color: white;
  top: calc(226 / 688 * 100%);
  left: calc(164 / 1408 * 100%);
  z-index: 99;
  max-width: 650px;
  margin-right: 60px;
}

.blockQuote p {
  max-width: 784px;
  margin-bottom: 32px;
  font-size: 56px;
  line-height: 64px;
  font-family: "Lora";
  font-weight: 400;
  font-feature-settings: "pnum" on, "lnum" on, "ss05" on, "ss06" on, "ss02" on;
}

.discover cite {
  font-style: normal;
  font-family: "Inter";
  font-weight: 12px;
  line-height: 16px;
  letter-spacing: 2%;
}

.citeDescription {
  color: #cccccc;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  margin-left: 3px;
  border: 1.5px solid #ffffff;
  display: inline-block;
}

/* ------- Photographers Section ------- */

.photographers {
  display: flex;
  flex-direction: column;
  margin: 0 68px;
  justify-content: center;
}

.photographersRow {
  margin: 40.5px 0;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* ------- Photo's Section ------- */

.photos {
  display: flex;
  flex-direction: column;
  margin: 0 68px;
  justify-content: center;
  position: relative;
}

.photoDetails {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 44px;
}

.photoDetails button {
  background-color: #3c3c3c;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 8px 51px;
  font-family: "Inter";
  text-transform: uppercase;
}

.photoGallery {
  columns: 3;
  column-gap: 16px;
  position: relative;
  padding: 50px 0;
}

.photoDetailsDiv {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 15px;
  align-items: center;
}

.photoDetailsInfo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid grey;
  padding-left: 35px;
}

.photoDetailsInfo h4 {
  font-family: "Lora";
  font-weight: 300;
  letter-spacing: 1;
  line-height: 24px;
  font-size: 24px;
  margin-bottom: 8px;
}

.photoDetailsInfo p {
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Inter";
  color: #919191;
}

.photoDescription {
  font-family: "Lora";
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 14px;
}

.creatorName {
  font-family: "Inter";
  font-size: 14px;
  color: #919191;
}
